body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    
    color: #ffffff; /* Text color (white) */
    font-size: 36px; /* Font size */
    font-family: 'Arial', sans-serif; /* Font family */
    text-align: center; /* Center align the text */
    padding: 20px; /* Padding */
    margin: 0; /* Margin */
    text-shadow: 2px 2px 4px rgba(223, 11, 177, 0.5); /* Text shadow */
    letter-spacing: 2px; /* Letter spacing */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
}
.product p {
    color: #666;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.product {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.product img {
    max-width: 100%;
}

.product h2 {
    margin-top: 10px;
}

.product .description {
    color: #666;
    height: 80px; /* Adjust the height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .price {
    color: #00c;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
.addProduct {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.addProduct form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.addProduct label {
    font-weight: bold;
}

.addProduct input[type="text"],
.addProduct textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.addProduct button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addProduct button[type="submit"]:hover {
    background-color: #45a049;
}

#product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust minmax width as needed */
    gap: 20px;
}
.search-container {
    margin-left: auto; /* Align the search container to the right */
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.search-container button {
    padding: 8px 12px;
    background-color: rgba(223, 11, 177, 0.5);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

.search-container button:hover {
    background-color: rgba(105, 6, 100, 0.5);
}
.carousel-container {
    position: relative;
    margin: auto;
    width: 100%; /* Set the container width to 100% */
    overflow: hidden; /* Hide overflow to prevent horizontal scroll */
    max-height: 600px;
  }
  
  .carousel-slide {
    display: flex;
  width: 300%; /* Set the width of the slide container to 300% to accommodate all images */
  transition: transform 0.5s ease; /* Add smooth transition effect */
  }
  
  .carousel-slide img {
    
    display: none;
    width: 100vw; /* Set the width of images to 100% of viewport width */
  height: auto; /* Maintain aspect ratio */
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  #add-product-button,
#delete-all-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#add-product-button:hover,
#delete-all-button:hover {
  background-color: #45a049; /* Darker green */
}

#add-product-button:active,
#delete-all-button:active {
  background-color: #3e8e41; /* Active color */
}
